# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{c,cpp,h,hpp,m}]
indent_style = tab
indent_size = 4
end_of_line = lf

[*.cs]
indent_style = space
indent_size = 4
end_of_line = lf

[{meson.build,meson_options.txt}]
indent_size = 2
indent_style = space
insert_final_newline = true
