[Desktop Entry]
Encoding=UTF-8
Name=XChat IRC
Comment[de]=IRC-Client
Comment[es]=Aplicación de IRC
Comment[fi]=IRC-sovellus
Comment[fr]=Client IRC
Comment[lt]=IRC klientas
Comment[no]=IRC-klient
Comment[pt_BR]=Cliente de IRC
Comment[sl]=Odjemalec IRC
Comment[sv]=IRC-klient
Comment[ro]=Client de IRC
Comment=IRC Client
Exec=xchat
Icon=xchat.png
Terminal=false
Type=Application
Categories=Application;Network;
