[Desktop Entry]
Encoding=UTF-8
Name=XChat IRC
Name[zh_TW]=網路清談
Comment[de]=IRC-Client
Comment[es]=Aplicación de IRC
Comment[fi]=IRC-sovellus
Comment[fr]=Client IRC
Comment[hu]=IRC-kliens
Comment[lt]=IRC klientas
Comment[no]=IRC-klient
Comment[pt_BR]=Cliente de IRC
Comment[sl]=Odjemalec IRC
Comment[sv]=IRC-klient
Comment[ro]=Client de IRC
Comment[zh_TW]=X-Chat 聊天程式
Comment=IRC Client
Exec=xchat
Icon=xchat.png
Terminal=false
Type=Application
Categories=Application;Network;
