name: Flatpak Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  flatpak_build:
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-40
      options: --privileged
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v3
      with:
        bundle: hexchat.flatpak
        manifest-path: flatpak/io.github.Hexchat.json
